body{
    background-color: rgb( 255,0,0);
}
h1{
    color: rgb(0, 255, 0);
}
h1{
    text-align: center;
}
div{
    text-align: center;
}
form{
    color: rgb(0, 255, 0);
}
p.ru1{
    color: white;
}
a{
    color: yellow;
}
p.ru2{
    color: white;
}
